body {
  text-align: left;
}

img {
  height: 200px;
  width: 450px;
  position: 
}

table, th, td {
  border: 1px solid black;
}

.bio {
  margin: 0%;
  text-align-last: justify;
  
}

.albums {
  margin: 0%;
}

.band {
  margin: 0%;
}

.links {
  margin: 0%;
}

.media {
  margin: 0%;
}

.videos {
  box-sizing: border-box;
}

#videoone {
  float: left;
  width: 45%; 
  padding: 40px;
}

#videotwo {
  float: left;
  width: 45%; 
  padding: 40px; 
}